src/main/resources/shiporder_unqualified.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://shiporder.hu/Shiporder" 
xmlns="http://shiporder.hu/Shiporder"
elementFormDefault="unqualified"
>

    <xs:complexType name="shipordertype">
        <xs:sequence>
            <xs:element name="orderid" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
 
    <xs:element name="shiporder" type="shipordertype" />
    
</xs:schema>